################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Simplyfund.Api/bin
/Simplyfund.Api/obj
/Simplyfund.Bll/obj/Debug/net8.0/Simplyfund.Bll.AssemblyInfo.cs
/Simplyfund.Bll/obj/Debug/net8.0/Simplyfund.Bll.AssemblyInfoInputs.cache
/Simplyfund.Bll/obj/Debug/net8.0/Simplyfund.Bll.assets.cache
/Simplyfund.Bll/obj/Debug/net8.0/Simplyfund.Bll.GeneratedMSBuildEditorConfig.editorconfig
*.cs
/Simplyfund.Bll/obj/Release/net8.0
/Simplyfund.Bll/obj/project.assets.json
/Simplyfund.Bll/obj/project.nuget.cache
/Simplyfund.Bll/obj/Simplyfund.Bll.csproj.nuget.dgspec.json
/Simplyfund.Bll/obj/Simplyfund.Bll.csproj.nuget.g.props
/Simplyfund.Api/bin/Debug/net8.0/Simplyfund.Api.dll
/Simplyfund.Api/bin/Debug/net8.0/Simplyfund.Api.pdb
/Simplyfund.Api/obj/Debug/net8.0/ref/Simplyfund.Api.dll
/Simplyfund.Api/obj/Debug/net8.0/refint/Simplyfund.Api.dll
/Simplyfund.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Simplyfund.Api.props
/Simplyfund.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Simplyfund.Api.props
/Simplyfund.Api/obj/Debug/net8.0/Simplyfund.Api.AssemblyInfo.cs
/Simplyfund.Api/obj/Debug/net8.0/Simplyfund.Api.AssemblyInfoInputs.cache
/Simplyfund.Api/obj/Debug/net8.0/Simplyfund.Api.assets.cache
/Simplyfund.Api/obj/Debug/net8.0/Simplyfund.Api.csproj.AssemblyReference.cache
/Simplyfund.Api/obj/Debug/net8.0/Simplyfund.Api.csproj.CoreCompileInputs.cache
/Simplyfund.Api/obj/Debug/net8.0/Simplyfund.Api.csproj.FileListAbsolute.txt
/Simplyfund.Api/obj/Debug/net8.0/Simplyfund.Api.dll
/Simplyfund.Api/obj/project.assets.json
/Simplyfund.Api/obj/project.nuget.cache
/Simplyfund.Api/obj/Simplyfund.Api.csproj.nuget.dgspec.json
/Simplyfund.Api/obj/Simplyfund.Api.csproj.nuget.g.props
/Simplyfund.Api/obj/Simplyfund.Api.csproj.nuget.g.targets
/Simplyfund.Api/Simplyfund.Api.csproj
/Simplyfund.Api/Simplyfund.Api.csproj.user
/Simplyfund.Bll/Simplyfund.Bll.csproj
/Simplyfund.Dal/obj/Debug/net8.0/Simplyfund.Dal.AssemblyInfo.cs
/Simplyfund.Dal/obj/Debug/net8.0/Simplyfund.Dal.AssemblyInfoInputs.cache
/Simplyfund.Dal/obj/Debug/net8.0/Simplyfund.Dal.assets.cache
/Simplyfund.Dal/obj/Debug/net8.0/Simplyfund.Dal.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.Dal/obj/project.assets.json
/Simplyfund.Dal/obj/project.nuget.cache
/Simplyfund.Dal/obj/Release/net8.0/Simplyfund.Dal.AssemblyInfoInputs.cache
/Simplyfund.Dal/obj/Release/net8.0/Simplyfund.Dal.assets.cache
/Simplyfund.Dal/obj/Release/net8.0/Simplyfund.Dal.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.Dal/obj/Simplyfund.Dal.csproj.nuget.dgspec.json
/Simplyfund.Dal/obj/Simplyfund.Dal.csproj.nuget.g.props
/SimplyFund.Domain/obj/Debug/net8.0/SimplyFund.Domain.AssemblyInfo.cs
/SimplyFund.Domain/obj/Debug/net8.0/SimplyFund.Domain.AssemblyInfoInputs.cache
/SimplyFund.Domain/obj/Debug/net8.0/SimplyFund.Domain.assets.cache
/SimplyFund.Domain/obj/Debug/net8.0/SimplyFund.Domain.GeneratedMSBuildEditorConfig.editorconfig
/SimplyFund.Domain/obj/project.assets.json
/SimplyFund.Domain/obj/project.nuget.cache
/SimplyFund.Domain/obj/Release/net8.0/SimplyFund.Domain.AssemblyInfoInputs.cache
/SimplyFund.Domain/obj/Release/net8.0/SimplyFund.Domain.assets.cache
/SimplyFund.Domain/obj/Release/net8.0/SimplyFund.Domain.GeneratedMSBuildEditorConfig.editorconfig
/SimplyFund.Domain/obj/SimplyFund.Domain.csproj.nuget.dgspec.json
/SimplyFund.Domain/obj/SimplyFund.Domain.csproj.nuget.g.props
/Simplyfund.GeneralConfiguration/obj/Debug/net8.0/Simplyfund.GeneralConfiguration.AssemblyInfoInputs.cache
/Simplyfund.GeneralConfiguration/obj/Debug/net8.0/Simplyfund.GeneralConfiguration.assets.cache
/Simplyfund.GeneralConfiguration/obj/Debug/net8.0/Simplyfund.GeneralConfiguration.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.GeneralConfiguration/obj/project.assets.json
/Simplyfund.GeneralConfiguration/obj/project.nuget.cache
/Simplyfund.GeneralConfiguration/obj/Release/net8.0/Simplyfund.GeneralConfiguration.AssemblyInfoInputs.cache
/Simplyfund.GeneralConfiguration/obj/Release/net8.0/Simplyfund.GeneralConfiguration.assets.cache
/Simplyfund.GeneralConfiguration/obj/Release/net8.0/Simplyfund.GeneralConfiguration.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.GeneralConfiguration/obj/Simplyfund.GeneralConfiguration.csproj.nuget.dgspec.json
/Simplyfund.GeneralConfiguration/obj/Simplyfund.GeneralConfiguration.csproj.nuget.g.props
/Simplyfund.Library/obj/Debug/net8.0/Simplyfund.Library.AssemblyInfoInputs.cache
/Simplyfund.Library/obj/Debug/net8.0/Simplyfund.Library.assets.cache
/Simplyfund.Library/obj/Debug/net8.0/Simplyfund.Library.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.Library/obj/Release/net8.0/Simplyfund.Library.AssemblyInfoInputs.cache
/Simplyfund.Library/obj/Release/net8.0/Simplyfund.Library.assets.cache
/Simplyfund.Library/obj/Release/net8.0/Simplyfund.Library.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.Library/obj/project.assets.json
/Simplyfund.Library/obj/project.nuget.cache
/Simplyfund.Library/obj/Simplyfund.Library.csproj.nuget.dgspec.json
/Simplyfund.Library/obj/Simplyfund.Library.csproj.nuget.g.props
/Simplyfund.Test/obj/Debug/net8.0/Simplyfund.Test.AssemblyInfo.cs
/Simplyfund.Test/obj/Debug/net8.0/Simplyfund.Test.AssemblyInfoInputs.cache
/Simplyfund.Test/obj/Debug/net8.0/Simplyfund.Test.assets.cache
/Simplyfund.Test/obj/Debug/net8.0/Simplyfund.Test.csproj.AssemblyReference.cache
/Simplyfund.Test/obj/Debug/net8.0/Simplyfund.Test.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.Test/obj/project.assets.json
/Simplyfund.Test/obj/project.nuget.cache
/Simplyfund.Test/obj/Release/net8.0/Simplyfund.Test.AssemblyInfoInputs.cache
/Simplyfund.Test/obj/Release/net8.0/Simplyfund.Test.assets.cache
/Simplyfund.Test/obj/Release/net8.0/Simplyfund.Test.csproj.AssemblyReference.cache
/Simplyfund.Test/obj/Release/net8.0/Simplyfund.Test.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.Test/obj/Simplyfund.Test.csproj.nuget.dgspec.json
/Simplyfund.Test/obj/Simplyfund.Test.csproj.nuget.g.props
/Simplyfund.Test/obj/Simplyfund.Test.csproj.nuget.g.targets
/Simplyfund.TestConsole/obj/Debug/net8.0/Simplyfund.TestConsole.AssemblyInfo.cs
/Simplyfund.TestConsole/obj/Debug/net8.0/Simplyfund.TestConsole.AssemblyInfoInputs.cache
/Simplyfund.TestConsole/obj/Debug/net8.0/Simplyfund.TestConsole.assets.cache
/Simplyfund.TestConsole/obj/Debug/net8.0/Simplyfund.TestConsole.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.TestConsole/obj/project.assets.json
/Simplyfund.TestConsole/obj/project.nuget.cache
/Simplyfund.TestConsole/obj/Release/net8.0/Simplyfund.TestConsole.AssemblyInfoInputs.cache
/Simplyfund.TestConsole/obj/Release/net8.0/Simplyfund.TestConsole.assets.cache
/Simplyfund.TestConsole/obj/Release/net8.0/Simplyfund.TestConsole.GeneratedMSBuildEditorConfig.editorconfig
/Simplyfund.TestConsole/obj/Simplyfund.TestConsole.csproj.nuget.dgspec.json
/Simplyfund.TestConsole/obj/Simplyfund.TestConsole.csproj.nuget.g.props
/Simplyfund.Api/obj/Debug/net8.0/Simplyfund.Api.MvcApplicationPartsAssemblyInfo.cs
