################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Simplyfund.Api/bin/
/Simplyfund.Api/obj/

/Simplyfund.Library/obj
/Simplyfund.Library/bin/Debug/net8.0
/Simplyfund.Test/obj/Debug/net8.0
/Simplyfund.Test/obj/Release/net8.0
/Simplyfund.Test/obj
/Simplyfund.TestConsole/obj
/Simplyfund.GeneralConfiguration/obj/Release/net8.0
/Simplyfund.GeneralConfiguration/obj/Debug/net8.0/refint
/Simplyfund.GeneralConfiguration/obj/Debug/net8.0
/Simplyfund.Bll/bin/Debug/net8.0
/Simplyfund.Bll/obj/Debug/net8.0
/Simplyfund.Bll/obj/Release/net8.0
/Simplyfund.Bll/obj
/Simplyfund.Dal/bin
/Simplyfund.Dal/obj
/SimplyFund.Domain/bin
/SimplyFund.Domain/obj
/Simplyfund.GeneralConfiguration/bin/Debug/net8.0
/Simplyfund.GeneralConfiguration/obj
/Simplyfund.Test/bin/Debug/net8.0/cs
/Simplyfund.Test/bin/Debug/net8.0/de
/Simplyfund.Test/bin/Debug/net8.0/es
/Simplyfund.Test/bin/Debug/net8.0/fr
/Simplyfund.Test/bin/Debug/net8.0/it
/Simplyfund.Test/bin/Debug/net8.0/ja
/Simplyfund.Test/bin/Debug/net8.0/ko
/Simplyfund.Test/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Simplyfund.Test/bin/Debug/net8.0/pl
/Simplyfund.Test/bin/Debug/net8.0/pt-BR
/Simplyfund.Test/bin/Debug/net8.0/ru
/Simplyfund.Test/bin/Debug/net8.0/tr
/Simplyfund.Test/bin/Debug/net8.0/zh-Hans
/Simplyfund.Test/bin/Debug/net8.0/zh-Hant
/Simplyfund.Test/bin/Debug/net8.0
/Simplyfund.TestConsole/bin/Debug/net8.0
/Simplyfund.GeneralConfiguration/bin/Release/net8.0
/Simplyfund.Bll/bin/Release/net8.0
/Simplyfund.Library/bin/Release/net8.0
