################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Simplyfund.Api/bin/
/Simplyfund.Api/obj/

/Simplyfund.Library/obj
/Simplyfund.Library/bin/Debug/net8.0
/Simplyfund.Test/obj/Debug/net8.0
/Simplyfund.Test/obj/Release/net8.0
/Simplyfund.Test/obj
/Simplyfund.TestConsole/obj
/Simplyfund.GeneralConfiguration/obj/Release/net8.0
/Simplyfund.GeneralConfiguration/obj/Debug/net8.0/refint
/Simplyfund.GeneralConfiguration/obj/Debug/net8.0
/Simplyfund.Bll/bin/Debug/net8.0
/Simplyfund.Bll/obj/Debug/net8.0
/Simplyfund.Bll/obj/Release/net8.0
/Simplyfund.Bll/obj
/Simplyfund.Dal
/SimplyFund.Domain
/Simplyfund.GeneralConfiguration/bin/Debug/net8.0
/Simplyfund.GeneralConfiguration/obj
